<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- view port : 모바일 형태(사이즈..등)로  작업할때 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d9e5153543b0702bf46e22f4f22c32e7&libraries=services"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><!-- Latest compiled and minified CSS -->

    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/mypage.css" rel="stylesheet" />
    <link href="css/promisepage.css" rel="stylesheet" />
    <title>OnTime</title>
</head>
<body>
    <div id="app" class="app">
        <div class="head" v-if="mode != 'myPage'"> 
            <div>
	            <span v-for='c in categories' class="category-btn" :class="{ 'active' : category === c }" @click="category = c"><b>{{ c }}</b></span>            
            </div>
            <button id="my-page-btn" class="" @click="setModeMyPage()"></button>
        </div>
        <span class="list-btn" v-if = "mode !== 'list'" @click = "mode = 'list'"> &lt </span>
        <div class="body" v-if="category === 'Personal'">
            <!-- 내 약속 모두 보기-->
            <div class="list" v-if="mode === 'list' && promises.length!==0">
            	<h5 class = "name" v-if="getPromises('today').length!==0">Right Now</h5>
                <ul>
                    <li class="promise today" v-for="promise in getPromises('today')" @click = "selectPromise(promise)">{{ promise.promiseName }}
                    <!-- <span class="promise-status" /> -->
                    </li>
                </ul>
                <h5 class = "name" v-if="getPromises('upcoming').length!==0">To Go</h5>
                <ul>
                    <li class="promise upcoming" v-for="promise in getPromises('upcoming')" @click = "selectPromise(promise)">{{ promise.promiseName }}
                    <!-- <span class="promise-status" /> -->
                    </li>
                </ul>
                <h5 class = "name" v-if="getPromises('end').length!==0">History</h5>
                <ul>
                    <li class="promise end" v-for="promise in getPromises('end')" @click = "selectPromise(promise)">{{ promise.promiseName }}
                    <!-- <span class="promise-status" :class="{'late': promise.arrival==='ontime'}" /> -->
                    </li>
                </ul>
            </div>
            <div class="list" v-if="mode === 'list' && promises.length===0">
               <div class="none">
               		<span id="no-promise"></span>
               		<div class="none-word">약속을 등록해주세요<br><br><br></div>
               </div>
            </div>
            
            <!-- 상세내용 표기 -->
            <div id="promise-page" v-else-if = "mode === 'promise'"> 
                <h2>{{selectedPromise.promiseName}}</h2>
                <hr>
                <h5>{{selectedPromise.placeName}}</h5>
                {{selectedPromise.address}} <br>
                {{selectedPromise.promiseTime.substring(0,16)}}<br>
                <hr>
                <div class="btn-wrapper" v-if="selectedPromise.status !=='end'">
                	<button class = "click" @click="getLocation">내 위치 갱신</button>
                    <button class = "click" @click="arrive">도착 신고</button>
                    <button class = "click" @click = "getRoomId">주소복사하기</button>
                </div>
                <h4>참가자</h4>
                <ul>
                    <li class="participant" v-for="member in selectedPromise.members">{{member.userName}} <span v-if="selectedPromise.status !=='end'">{{computeDistance(member.latitude,member.longitude,selectedPromise)}} km</span></li>
                </ul>
            </div>
            <!-- 마이 페이지 -->
            <div id="my-page-wrapper" v-else-if="mode==='myPage'">
	            <div class="my-page">
	                <h1> {{user.userName}}</h1><hr>
	                <p>메일 
	                <button id="modify" @click="updateUser">수정</button>
	                </p> 
	                <input type="text" class="my-page-input" v-model="user.userEmail" max="100" min="1" placeholder="이메일을 입력해주세요">
	                <p>성별</p>
	                <input type="text" class="my-page-input" v-model="user.userGender" max="100" min="1" placeholder="성병을 입력해 주세요">
	                <p>나이</p>
	                <input type="text" class="my-page-input" v-model="user.userAge" max="100" min="1" placeholder="나이를 입력해주세요">
	                <p>연락처</p>
	                <input type="text" class="my-page-input" v-model="user.userPhone" placeholder="전화번호를 입력해주세요">
	                <br><hr>
	                <h3>자주 가는 장소</h3>
	                <table>
	                    <tr>
	                        <td v-for="place in favorite.place"><div class="favorite">{{place}}</div></td>
	                    </tr>
	                </table>
	                <br>
	                <h3>자주 만나는 사람</h3>
	                <table>
	                    <tr>
	                        <td v-for="f in favorite.friend"><div class="favorite">{{f}}</div></td>
	                    </tr>
	                </table>
	            </div>
	            <button id="logout-btn" @click="logout()">로그아웃</button>
            </div>
            <!-- 약속 만들기( Modal ) -->
            <div> <!-- v-if="mode === 'list'" -->
                <button v-b-modal.create-promise class="add-btn" v-if="mode === 'list'">+</button>
                <b-modal id="create-promise" title="약속 만들기" hide-footer>
                    <div class="modal-body">
                        <p>약속이름 : <input v-model="createPromise.promiseName" placeholder="약속이름" required size="15"></p>
                        <p>약속장소명 : {{createPromise.placeName}}</p>
                        
                        <!-- 카카오 맵 -->
                        <div id="menu_wrap" class="bg_white">
                            <div class="option">
                                <div>
                                    <form onsubmit="searchPlaces(); return false;">
                                        검색 : <input type="text" value="이태원 맛집" id="keyword" size="10" style="
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
"> <button type="submit">검색하기</button> 
                                    </form>
                                </div>
                            </div>
                            <hr>
                            <ul id="placesList">
                                <li v-for="place in searchedPlaces" @click="setPlace(place)">{{place.place_name}}</li>
                            </ul>
                        </div>
                        <p>날짜 : </p>
                        <input type="date" v-model="createPromise.promiseDate" required>
                        <p>시간 :
                        <select v-model="createPromise.promiseHour">
                            <option v-for="h in hour">{{h}}</option>
                        </select> 시  
                        <select v-model="createPromise.promiseMinute">
                            <option v-for="m in minute">{{m}}</option>
                        </select> 분
                        <b-button class="mt-3" block @click="create(); $bvModal.hide('create-promise')">만들기</b-button>
                    </div>
                </b-modal>
            </div>
            
        </div>

    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var query = /*[[${PI}]]*/ 'default';
        /*]]>*/
    </script>
    <script src="JS/app.js"></script>
    <script src="JS/map.js"></script>
</body>

</html>