<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Log-in</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/login.css" type="text/css" />

</head>

<body>
   <div id="loginform" >
      <div class="title">OnTime</div>
      <div id="login">
         <a href="/loginGoogle"> 
         <div id="google" class="login-btn">구글 로그인</div>
         </a><br>
         
         <a href="/login"> 
         <div id="kakao" class="login-btn">카카오 로그인</div>
         </a><br> 
         
         <a href="/loginNaver"> 
         <div id="naver" class="login-btn">네이버 로그인</div>
         </a><br> 
         
      </div>
   </div>

</body>
</html>